<ion-header>
    <ion-toolbar>
        <ion-title>
            Bài Học
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <h2> 1,Where are you from?</h2>
                <h4 class="title-vn"> Bạn từ đâu tới?</h4>
                <ion-row>
                    <ion-button>Chi tiết</ion-button>
                    <ion-button>Luyện nói</ion-button>
                </ion-row>
                <ion-progress-bar value="0.1"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <!--        <ion-item>-->
        <!--            <ion-label>2,Mega Man X</ion-label>-->
        <!--        </ion-item>-->
        <!--        <ion-item>-->
        <!--            <ion-label>3,The Legend of Zelda</ion-label>-->
        <!--        </ion-item>-->
        <!--        <ion-item>-->
        <!--            <ion-label>4,Pac-Man</ion-label>-->
        <!--        </ion-item>-->
        <!--        <ion-item>-->
        <!--            <ion-label>5,Super Mario World</ion-label>-->
        <!--        </ion-item>-->
    </ion-list>
</ion-content>
